@use "sass:math";
// =====================Pages===========================

// =====================Settings===========================
@use './settings/settings' as *;
@use './settings/reset';
@use './settings/_mixins.scss' as *;
// =====================Layouts===========================
@use './layouts/header';
@use './layouts/footer';
@use './layouts/page';
// =====================Base===========================
@use './base/animation';
@use './base/fonts';
@use './base/_typography.scss';
// ====================================================
@use './components';




body {
   font-family: "Josefin Sans", sans-serif;
   // @include typography("M", 400, 0);
   line-height: 1.5;
   color: $black;

   &.scroll-lock {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;

   >main {
      flex-grow: 1;
   }
}

[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin: 0 auto;
}

[class*="reservation__container"] {
   max-width: toRem(920);
   // padding-inline: toRem(math.div($containerPadding, 2));
   margin: 0 auto;
   @include adaptiveValue('padding-block', 140, 20);
   @include adaptiveValue('padding-inline', 140, 10);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
   opacity: 0;
   /* Робить іконку прозорою */
   cursor: pointer;
   /* Зберігаємо курсор, щоб показати, що поле активне */
   display: inline-block;
   /* Забезпечуємо, щоб вона займала місце для кліку */
   width: 100%;
   /* Розширюємо зону кліку на все поле */
   height: 100%;
   position: absolute;
   /* Накладемо поверх власної іконки */
   box-sizing: border-box;
   width: 100%;
   flex-grow: 1;
   min-width: 0;
}
