@use '../settings/settings' as *;
@use '../settings/mixins' as *;


.header {
   // display: none;
   background-color: $bgDark;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 100;
   transition: top 0.3s ease, opacity 0.5s ease;

   &.scrolled {
      // transform: translateY(-100%);
      top: -100%;
      opacity: 0;
   }

   &.scrolled {
      &.visible {
         top: 0;
         opacity: 1;
      }
   }
}

.top-header {
   @include adaptiveValue('padding-block', 50, 30);
   border-bottom: toRem(1) solid $borderBg;

   // .top-header__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap', 40, 20);
   }

   &__logo {
      position: relative;
      z-index: 10;
      @include adaptiveValue('width', 378, 100);
      @include adaptiveValue('height', 150, 70);
      fill: $primiryColor;

      @media (max-width: toEm(849)) {
      //   fill: $white;
      }
      @media (max-width: toEm(383)) {
        flex-grow: 1;
      }
   }

   // .top-header__button
   &__button {}

   @media (max-width: toEm(849)) {
      display: none;
   }
}

.body-header {
   color: $white;
   border-bottom: toRem(1) solid $borderBg;
   @include adaptiveValue('padding-block', 25, 15);

   // .body-header__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @include adaptiveValue('gap', 40, 20);

      @media (max-width: toEm(383)) {
            .icon-menu {
               order: 1;
            }
            .body-header__social {
               order: 2;
            }
            .top-header__logo {
               order: 3;
            }
         }
   }

   // .body-header__menu
   &__menu {
      @media (max-width: toEm(849)) {
         display: block;
         position: fixed;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         background-color: $bgCart;
         padding: toRem(150) toRem(15) toRem(30) toRem(15);
         transition: all 0.3s;

         .menu-open & {
            left: 0;
         }

         &::before {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: toRem(120);
            background-color: $bgDark;
            transition: all 0.3s;

            .menu-open & {
               left: 0;
            }
         }
      }
   }

   // .body-header__list
   &__list {
      display: flex;
      align-items: center;
      @include adaptiveValue('gap', 60, 20);
      flex-wrap: wrap;

      @media (max-width: toEm(849)) {
         flex-direction: column;
         gap: toRem(30);
         align-items: flex-start;
      }
   }

   // .body-header__item
   &__item {}

   // .body-header__link
   &__link {
      font-size: toRem(20);
      transition: color 0.3s;

      @media (any-hover: hover) and (any-pointer: fine) {
         &:hover {
            color: $primiryColor;
         }
      }

      @media (max-width: toEm(849)) {
         color: $white;
         font-size: toRem(26);
      }
   }
}

.social-media-header {
   position: relative;
   z-index: 10;

   @media (max-width: toEm(849)) {
     flex-grow: 1;
   }

   // .social-media-header__list
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(20);
      line-height: 0;

      @media (max-width: toEm(849)) {
        justify-content: flex-end;
      }
   }

   // .social-media-header__item
   &__item {}

   // .social-media-header__link
   &__link {

      &::before {
         font-size: toRem(24);
         transition: color 0.3s;

      }

      @media (any-hover: hover) and (any-pointer: fine) {
         &:hover {
            &::before {
               color: $primiryColor;
            }
         }
      }
   }
}
