@font-face {
   font-family: 'iconfont';
   src:
      url('/src/assets/fonts/icomoon.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class*="--icon-"]::before {
   font-family: 'iconfont';
   line-height: 1 !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-fb"]::before {
   content: "\e900";
}

[class*="--icon-instagram"]::before {
   content: "\e901";
}

[class*="--icon-logo"]::before {
   content: "\e902";
}

[class*="--icon-pinterest"]::before {
   content: "\e903";
}

[class*="--icon-quotes"]::before {
   content: "\e904";
}

[class*="--icon-twitter"]::before {
   content: "\e905";
}

[class*="--icon-location"]::before {
   content: "\e911";
}

[class*="--icon-calender"]::before {
   content: "\e907";
}

[class*="--icon-menu"]::before {
   content: "\e909";
}

[class*="--icon-delivery"]::before {
   content: "\e90a";
}

[class*="--icon-pencil"]::before {
   content: "\e90b";
}

[class*="--icon-history"]::before {
   content: "\e94d";
}

[class*="--icon-calendar"]::before {
   content: "\e953";
}

[class*="--icon-truck"]::before {
   content: "\e9b0";
}
